<div class="container marketing">
  <div class="featurette">
    <%= image_tag("djs.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">DJs <span class="text-muted">And the music they like.</span>
      <p class="lead">We have the best of the Bay Area swing DJs come and showcase their great tunes every week!
      They really know how to get you off the chairs and on your feet.</p>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("garysharpe.png", :class => "img-circle") %>
      <h2>Gary Sharpe</h2>
      <div class="dj-info">
        <p>Gary Sharpe has been a regular DJ for swing dance events in the Sacramento and Bay Area for the last 5 years. Also a swing dancer since 2003, Gary has traveled the country listening and dancing to many of the best DJs and live bands today. Not ashamed to admit making more than a few mixed tapes for friends and loved ones, Gary applies some of that same youthful (sometimes ridiculous) intensity listening to, collecting, and sharing swing and jazz music from the 1920s to today.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <%= image_tag("catcooper.jpg", :class => "img-circle") %>
      <h2>Cat Cooper</h2>
      <div class="dj-info">
        <p>Cat began dancing Lindy Hop and Blues in San Luis Obispo, CA 5 years ago and hasn't stopped since. Her music collection has developed from listening to radio stations, movie soundtracks, TV shows, but most of all other DJs.  From writing down individual songs to swapping music, Cat is always on the search for new music because to her it’s better than chocolate (and she really likes her chocolate)! She loves DJing and playing songs/sets that pull dancers (beginners and advanced) on their feet and excited about swinging out!!!  So get your dancing shoes on and don’t be afraid to ask her for a dance!</p>
        <p>Some of Cat’s favorite songs to DJ: Baby Can Dance By: Carsie Blanton; Gang Busters By: The Cats & The Fiddle; Jumpin' At The Woodside By: Count Basie; Minor Swing By: Django Reinhardt; Let's Call the Whole Thing Off (edit) By: Ella and Louis; and Long Gone John By: Gordon Webster.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <%= image_tag("alexfernandez.jpg", :class => "img-circle") %>
      <h2>Alex Fernandez</h2>
      <div class="dj-info">
        <p>Alex has been in Lindy Hop love for over a decade. His swing dance roots took seed in SF and Sac in 1997, and from there he has grown as a dancer and DJ. Sharing his tunes at SF Bay Area Lindy Hop hot spots such as The 920 Special, Wednesday Night Hop, Cats Corner and Epic Swing. Alex has traveled nationally and internationally to bring with him new favorites that inspire musicality, playfulness and fun. You will hear cantankerous old-timey tunes, clean indulgent hi-fi sounds of modern bands performing in the spirit of the 30's and 40's, irreplaceable hard-driving vintage swing classics, the gypsy jazz leanings of bands of today and yesteryear, topped with the soulful sounds of bands of every era. When not DJing, Alex can be seen dancing most nights of the week.</p>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-4 col-offset-2">
      <%= image_tag("alexnah.jpg", :class => "img-circle") %>
      <h2>Alex Nah</h2>
      <div class="dj-info">
        <p>Alex is an avid balboa dancer and a fan of all things music that swings. His DJ’ing began in 2003 at the famed Broadway Studios in San Francisco. Since then, he has DJ’d at many of the local bay area venues as well as several local and national swing dance events such as All Balboa Weekend, Boogie By The Bay, Sacramento Lindy Exchange, and the USS Hornet New Years Party. Recently, he has DJ’d at Dancer’s Den, For Dancers Only, Wednesday Night Hop as well as Swingin At The Rack.</p>
        <p>Some of his favorite songs are: Jamaica Jam (Teddy Powell), Yacht Club Swing (Fats Waller), Flying Home (Lionel Hampton), Minor Swing (Django Reinhardt), All The Cats Join In (Benny Goodman). And Cross Your Heart (Artie Shaw).</p>
      </div>
    </div>

    <div class="col-lg-4 col-offset-1">
      <%= image_tag("allenkerr.jpg", :class => "img-circle") %>
      <h2>Allen Kerr</h2>
      <div class="dj-info">
        <p>Allen has been ravenously collecting music since 2005 and found he has a knack for finding music that delights and inspires dancers. He has DJ’d many national events, including ILHC, Lindy Focus, Eastern Balboa Championships, Enter the Blues, and All Balboa Weekend. Allen also used to spin regularly for the Jam Cellar and Backroom Blues in DC until his move to San Francisco where he is head DJ at the 9:20 Special.</p>
      </div>
    </div>
  </div>
</div>
