<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("carousel1.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>The Dancer's Den</h1>
          <p>Swinging out in Berkeley since 2011!</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("carousel2.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Swing Dancing</h1>
          <p>Both lessons and a social dance.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("carousel3.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Award-winning dance instructors</h1>
          <p>Jean Ma and bromley Palamountain</p>
        </div>
      </div>
    </div>
  </div> 
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> <!-- /carousel -->

<div class="container">
  <div class="hero-unit">
    <%= raw @page.content_for(:hero_unit) %>
  </div>

  <div class="row">
    <div class="span6">
      <%= raw @page.content_for(:body) %>
    </div>

    <div class="span6">
      <%= raw @page.content_for(:side_body) %>
    </div>
  </div>
</div>


