<div class="container marketing">
  <div class="featurette">
    <%= image_tag("berkeley.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">Berkeley</h2>
    <p><a href="http://eastbayswing.com/">East Bay Swing</a>: Fridays. The Works, 2566 Telegraph.</p>
    <p><a href="http://lindyonsproul.com/">Lindy on Sproul</a>: Saturdays. Upper Sproul Plaza, UC Berkeley.</p>
    <p><a href="http://ashkenaz.com/">Ashkenaz</a>: Varies. 1371 San Pablo.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("eastbay.jpg", :class => "featurette-image img-circle pull-left") %>
    <h2 class="featurette-heading">East Bay</h2>
    <p><a href="http://200grand.com/">200 Grand</a>: Thursdays. 200 Grand.</p>
    <p><a href="http://www.belindyhop.com/">Sunday Swing</a>: Sundays. 200 Grand.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("peninsula.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">Peninsula</h2>
    <p><a href="http://wednesdaynighthop.com/">Wednesday Night Hop</a>: Wednesdays. Cheryl Burke Dance, 1400 N. Shoreline Blvd., Mountain View.</p>
    <p><a href="https://www.facebook.com/ForDancersOnly">For Dancers Only</a>: Fridays. 550 E. Remington Drive, Sunnyvale.</p>
    <p><a href="http://swingkids.stanford.edu/">Stanford Swing</a>: Varies. Stanford University.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("sanfrancisco.jpg", :class => "featurette-image img-circle pull-left") %>
    <h2 class="featurette-heading">San Francisco</h2>
    <p><a href="http://www.oldtimey.net/tuesdays.html">Tuesday Night Jump</a>: Tuesdays. The Verdi Club, 2424 Mariposa.</p>
    <p><a href="http://catscornersf.com/">Cat's Corner</a>: Wednesdays. The Savannah Jazz Club, 2937 Mission.</p>
    <p><a href="http://www.oldtimey.net/swinginthesquare.htm">Swing in the Square</a>: Wednesdays. Union Square.</p>
    <p><a href="http://920special.com/">The 9:20 Special</a>: Thursdays. The Russian Center, 2460 Sutter.</p>
    <p><a href="http://lindyinthepark.com/">Lindy in the Park</a>: Sundays. JFK near 8th St.</p>
    <p><a href="http://balboabattle.com/SundaySwingOut.htm">Sunday Swingout</a>: Sundays. THe Milk Bar, 1840 Haight.</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("blues.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">Blues</h2>
    <p><a href="http://wejustdance.com/shades/">Shades of Blues</a>: Mondays. The Polish Club, 3040 22nd St., San Francisco.</p>
    <p><a href="Beat the Blues">Beat the Blues</a>: Tuesdays. The Beat, 2560 9th St., Berkeley.</p>
    <p><a href="http://beyondblues.com/fnb/">Friday Night Blues</a>: Fridays. Studio Gracia, 19 Heron, San Francisco.</p>
    <p><a href="http://groupspaces.com/BluesatBerkeley">Electrified in Blues</a>: Saturdays. UC Berkeley.</p>
  </div>
</div>
