<div class="container marketing">
  <div class="featurette">
    <%= image_tag("berkeley.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">Berkeley</h2>
    <p>Lindy on Sproul</p>
    <p>Ashkenaz</p>
    <p>East Bay Swing</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("eastbay.jpg", :class => "featurette-image img-circle pull-left") %>
    <h2 class="featurette-heading">East Bay</h2>
    <p>200 Grand</p>
    <p>Sunday Swing</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("peninsula.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">Peninsula</h2>
    <p>For Dancers Only</p>
    <p>Wednesday Night Hop</p>
    <p>Stanford Swing</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("sanfrancisco.jpg", :class => "featurette-image img-circle pull-left") %>
    <h2 class="featurette-heading">San Francisco</h2>
    <p>Tuesday Night Jump</p>
    <p>Cat's Corner</p>
    <p>Swing in the Square</p>
    <p>The 9:20 Special</p>
    <p>Lindy in the Park</p>
    <p>Sunday Swingout</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <%= image_tag("blues.jpg", :class => "featurette-image img-circle pull-right") %>
    <h2 class="featurette-heading">Blues</h2>
    <p>Beat the Blues</p>
    <p>Friday Night Blues</p>
    <p>Shades of Blues</p>
    <p>Electrified in Blues</p>
  </div>
</div>
